html,
body {
  height: 100%;
}
.full-width {
  width: 100% !important;
}

.clr-col-md-10 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.clr-row {
  margin-left: 0;
  margin-right: 0;
}
